/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}


.sidepanel  {
    width:0;
    position: fixed;
    z-index: 1;
    height:100%;
    top: 0;
    right: 0;
    background-color:  rgb(251, 176, 222);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  #side-div2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #020202;
    display: block;
    transition: 0.3s;
  }

  #side-div2 a:hover {
    color: #f1f1f1;
    background-color: rgb(252, 57, 86);
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 250px;
    font-size: 36px;
    text-decoration: none;
    color: #020202;
    padding-left: 10px;
   padding-right: 10px;
   
    
  }
  .closebtn:hover{
    color: #f1f1f1;
    background-color: rgb(222, 3, 3);
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
  }

  .openbtn {
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    background-color:  rgb(104, 6, 160);
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    z-index: 1;
    top: 15px;
    right: 0px;
  }
  
  .openbtn:hover {
    background-color:  rgb(227, 98, 244);
    border-radius: 10px 0 0 10px;
  }

  #navbar {
    overflow: hidden;
    background-color:rgb(104, 6, 160);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding-left: 60px; 
    display: flex;
    align-content: center;
    align-items: center;
  }

  #brand_name {
    font-size: 30px;
    font-weight: 800;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #brand_state{
    color: rgba(211, 211, 211, 0.9);
    font-weight: 500;
  }

  #gif{
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  #smallbtn{
    display: none;
  }

  @media(min-width: 20px) and (max-width: 550px){
    #longBtn{
        display: none;
    }
    #smallbtn{
        display: block;
    }
    .openbtn {
        width: 50px;
    }
  }

  @media(min-width: 20px) and (max-width: 410px){
    .openbtn {
        width: 50px;
    }
    #navbar {
        height: 80px;
        padding-left: 10px;
    }
    #brand_name {
        font-size: 25px;
        font-weight:500;
        padding-left: -10px;
    }
    #brand_state{
        color: rgba(10, 10, 10, 0.9);
        font-weight: 200;
        display: none;
    }
    #mySidepanel{
      width: 250px;
    }
    .sidepanel .closebtn {
      right: 210px;
    }
  }

#side-div1{
  background-color: white;
  padding: 10px;
}